@charset "UTF-8";

.reg-tag{
    border-width: 1px;
    border-style: solid;
    padding: 0 4px 2px 4px;
    border-radius: 8px;
    font-weight: bold;
}

.xp-table{
    width: 100%;
    text-align: center;
}
.xp-table th, .xp-table td{ border: 1px solid black;}
.xp-table th{ background-color: #eeeeee;}